@import "flex/flex.css";

.cube {
    margin: 20px;
}

.square {
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000000;
    border-radius: 20%;
}

.circle {
    margin: 10px;
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius: 50%;
}
