@import "styles/flex/flex.css";

@font-face {
    font-family: Roboto-Bold;
    src: url("styles/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("styles/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto-Regular, sans-serif;
}

.main-container {
    height: 100vh;
    width: 100%;
}

.header-title {
    font-family: Roboto-Bold, sans-serif;
    color: #576bcd;
    font-size: 32px;
    margin-bottom: 20px;
}

.register-form-container {
    width: 350px;
    height: 350px;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(190, 190, 190, 0.25),
                0 10px 10px rgba(190, 190, 190, 0.22);
}

.form-title {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
}

.input-title {
    font-family: Roboto-Bold, sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
}

.input {
    height: 34px;
    width: 100%;
    border-radius: 5px;
}

.input-checkbox {
    cursor: pointer;
}

.button {
    background-color: #576bcd;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.button-text {
    font-family: Roboto-Bold, sans-serif;
    font-size: 14px;
}

a {
    font-family: Roboto-Bold, sans-serif;
    color: #576bcd;
    text-align: center;
    text-decoration: none;
    margin-left: 3px;
}

a:hover {
    cursor: pointer;
}

.footer {
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.footer-account {
    font-family: Roboto-Regular, sans-serif;
    font-size: 12px;
}