@import "styles/flex/flex.css";

@font-face {
    font-family: Roboto-Bold;
    src: url("styles/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("styles/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto-Regular, sans-serif;
}

.header-title {
    font-family: Roboto-Bold, sans-serif;
    color: #576bcd;
    font-size: 35px;
    line-height: 50px;
}

.register-form-container {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 10px 15px 20px #bdbebd;

}

